@import "tailwindcss";

@layer base {
  html {
    background-color: #0a0a0a;
  }

  body {
    background-color: #0a0a0a;
    color: white;
    min-height: 100vh;
    cursor: none;
  }

  #root {
    min-height: 100vh;
    background-color: #0a0a0a;
  }
}

@keyframes orb-move {
  0% {
    transform: translate(-50%, -50%) scale(1) translateY(0px) translateX(0px);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.05) translateY(-30px)
      translateX(40px);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1) translateY(20px)
      translateX(-30px);
  }
  75% {
    transform: translate(-50%, -50%) scale(0.97) translateY(-20px)
      translateX(-50px);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) translateY(0px) translateX(0px);
  }
}

.animate-orb-move {
  animation: orb-move 5s linear infinite;
}
